[Unit]
Description=NeonMika Picture Server

[Service]
Type=simple
WorkingDirectory=/your/copy/of/picture-server
ExecStart=/usr/local/bin/gulp server
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target


